<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title text-center"><%= @artist.name %></h1>

      <div class="card-text mt-4">
        <h5>Total Tracks</h5>
        <p><%= @artist.tracks.count %> tracks</p>
      </div>

      <div class="card-text mt-4">
        <h5>Number of Playlists</h5>
        <p><%= @playlists.count %> playlists</p>
      </div>

      <div class="card-text mt-4">
        <h5>Tracks</h5>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Artist(s)</th>
            <th>Key</th>
            <th>BPM</th>
            <th>Time</th>
            <th>Album</th>
            <th>Date Added</th>
          </tr>
          </thead>
          <tbody>
          <% @artist.tracks.each do |track| %>
            <tr>
              <td><%= track.name %></td>
              <td>
                <% track.artists.each do |artist| %>
                  <%= link_to artist.name, artist_path(artist), class: 'text-decoration-none text-dark' %>
                  <%= ',' unless artist == track.artists.last %>
                <% end %>
              </td>
              <td><%= link_to track.key&.name, key_path(track.key), class: 'text-decoration-none text-dark' %></td>
              <td><%= track.bpm %></td>
              <td><%= format_time(track.time) %></td>
              <td><%= track.album %></td>
              <td><%= track.date_added %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

      <div class="row">
        <h5>Playlists</h5>
        <% @playlists.each do |playlist| %>
          <div class="col-md-3 col-sm-6 mb-4">
            <div class="card-common card-playlist text-dark position-relative">
              <%= link_to playlist_path(playlist), class: 'card-link' do %>
                <div class="card-header d-flex justify-content-between align-items-center p-2">
                <h5 class="mb-0 ml-auto"><%= playlist.name %></h5>
              </div>
                <% if playlist.cover_art.attached? %>
                  <div class="card-img" style="background-image: url(<%= url_for(playlist.cover_art) %>);"></div>
                <% else %>
                  <div class="card-img" style="background-image: url('<%= asset_path('default_cover_art.jpg') %>');"></div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
