<div class="container mt-4">
  <h1 class="text-center">Playlists</h1>
  <div class="row">
    <% @playlists.each do |playlist| %>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="card-common card-playlist text-dark position-relative">
          <div class="card-header d-flex justify-content-between align-items-center p-2">
            <%= link_to 'x', playlist_path(playlist), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
            <h5 class="mb-0 ml-auto"><%= playlist.name %></h5>
          </div>
          <%= link_to playlist_path(playlist), class: 'card-link' do %>
            <% if playlist.cover_art.attached? %>
              <div class="card-img position-relative" style="background-image: url(<%= url_for(playlist.cover_art) %>);">
                <% score = playlist.harmonic_flow_score %>
                <% if score > 0 %>
                  <span class="badge position-absolute top-0 start-50 translate-middle-x mt-2 <%= score >= 75 ? 'bg-success' : score >= 50 ? 'bg-warning' : 'bg-danger' %>">
                    <%= score.round %>%
                  </span>
                <% end %>
              </div>
            <% else %>
              <div class="card-img position-relative" style="background-image: url('<%= asset_path('default_cover_art.jpg') %>');">
                <% score = playlist.harmonic_flow_score %>
                <% if score > 0 %>
                  <span class="badge position-absolute top-0 start-50 translate-middle-x mt-2 <%= score >= 75 ? 'bg-success' : score >= 50 ? 'bg-warning' : 'bg-danger' %>">
                    <%= score.round %>%
                  </span>
                <% end %>
              </div>
            <% end %>
            <div class="card-footer d-flex justify-content-between align-items-center p-2">
              <small><%= format_time(playlist.tracks.sum(:time)) %></small>
              <small><%= playlist.tracks.count %> tracks</small>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="col-md-3 col-sm-6 mb-4">
      <div class="card-common card-playlist text-dark position-relative d-flex align-items-center justify-content-center">
        <%= link_to new_playlist_path, class: 'btn btn-primary btn-lg' do %>
          <i class="bi bi-plus-lg"></i> <!-- Bootstrap icon for a plus sign -->
        <% end %>
      </div>
    </div>
  </div>
</div>
