<div class="container mt-4">
  <!-- First Section: Playlist Card -->
  <div class="card-common card-playlist text-dark position-relative mb-4">
    <div class="card-header d-flex justify-content-between align-items-center p-2">
      <%= link_to 'x', playlist_path(@playlist), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
      <h5 class="mb-0 ml-auto"><%= @playlist.name %></h5>
    </div>

    <% if @playlist.cover_art.attached? %>
      <div class="card-img" style="background-image: url(<%= url_for(@playlist.cover_art) %>);"></div>
    <% else %>
      <div class="card-img" style="background-image: url('<%= asset_path('default_cover_art.jpg') %>');"></div>
    <% end %>
    <div class="card-footer d-flex justify-content-between align-items-center p-2">
      <small><%= format_time(@playlist.tracks.sum(:time)) %></small>
      <small><%= @playlist.tracks.count %> tracks</small>
    </div>
  </div>

  <!-- Second Section: Tracks Table -->
  <h2 class="text-center">Tracks</h2>
  <table id="tracks-table" class="table table-striped table-hover"
         data-controller="sortable"
         data-reorder-url="<%= reorder_tracks_playlist_path(@playlist) %>">
    <thead class="thead-dark">
    <tr>
      <th>Order</th>
      <th>Name</th>
      <th>Artist(s)</th>
      <th>Key</th>
      <th>BPM</th>
      <th>Time</th>
      <th>Album</th>
      <th>Date Added</th>
      <th>Audio</th>
    </tr>
    </thead>
    <tbody>
    <% @playlist.playlists_tracks.order(:order).each do |playlists_track| %>
      <tr data-id="<%= playlists_track.track.id %>">
        <td class="order-cell"><%= playlists_track.order %></td>
        <td><%= playlists_track.track.name %></td>
        <td>
          <% playlists_track.track.artists.each do |artist| %>
            <%= link_to artist.name, artist_path(artist), class: 'text-decoration-none text-dark' %>
            <%= ',' unless artist == playlists_track.track.artists.last %>
          <% end %>
        </td>
        <td><%= link_to playlists_track.track.key&.name, key_path(playlists_track.track.key), class: 'text-decoration-none text-dark' %></td>
        <td><%= playlists_track.track.bpm %></td>
        <td><%= format_time(playlists_track.track.time) %></td>
        <td><%= playlists_track.track.album %></td>
        <td><%= playlists_track.track.date_added %></td>
        <td>
          <% if playlists_track.track.audio_file.attached? %>
            <audio controls>
              <source src="<%= url_for(playlists_track.track.audio_file) %>" type="<%= playlists_track.track.audio_file.content_type %>">
              Your browser does not support the audio element.
            </audio>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
